// COLORS
$color-primary: #55c57a70;
$color-primary-light: #7ed56f7e;
$color-primary-dark: #28b48588;

$color-secondary-light: #ffbb00a6;
$color-secondary-dark: #ff783081;

$color-tertiary-light: #2998ff73;
$color-tertiary-dark: #5543fa73;

$color-grey-light-1: #f7f7f783;
$color-grey-light-2: rgba(238, 238, 238, 0.541);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;